body {
    font-family: Roboto;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
    display: flex;
    margin: 0px;
    padding: 0;
    gap: 10px;
}

.header {
    padding: 20px 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 150px;
}

.title  {
    font-size: 24px;
    color: #F9FAF8;
}

.header-links {
    font-size: 18px;
    color: #e5e7eb;
}

.hero-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 15px;
    gap: 10px;
    max-width: 400px;
}

.hero-main-text {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.hero-info-text {
    font-size: 18px;
    color: #e5e7eb;
}

.placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 150px;
    background-color: gray;
}

.statement  {
    display: flex;
    justify-content: space-evenly;
    gap: 50px;
    padding-bottom: 50px;
}


.header,
.statement {
    background-color: #1F2937;
}